$primary-background:#323232;
$primary-text:#FFFFFF;
$primary-text-on-light:#323232;
$secondary-text:#AFAFAF;


$alt-background:#FAFAFA;

$hover-button-background:#000000;
$hover-button-text:#FFFFFF;

$hover-state-row:#FAFAFA;
$active-state-row:#E1E1E1;

$hover-active-link-text:#FFFFFF;
$inactive-link-text:#E1E1E1;

$divider: #E1E1E1;
$field-border: #E1E1E1;
$active-field-border:#323232;
$error-field-border:#D22D2D;

$avatar:#E1E1E1;

