@use '../variables';
@use '../mixins' as *;


.band-gallery{
    background-color:#FAFAFA;

    &__title{
        padding:16px;
        margin:0 auto;
        font-family:'AvenirNext';
        padding:0.2rem;
        font-weight:600;
        
    }
   @include tablet{
       padding-left:36px;
       padding-right:36px;
       
       &__wrapper{
           display:flex;
           flex-wrap:wrap;
           justify-content:space-evenly;
           margin:0;
         
       }
       &__title{
           font-size:36px;
           padding-top:48px;
           padding-bottom:36px;
          
           

       }
    
   }
   @include desktop{
       padding-left:80px;
       padding-right:80px;
   }
}