@use '../variables';
@use '../mixins' as *;


.band-gallery{
    background-color:#FAFAFA;
    width:100vw;
    

    &__outer-container{
    margin-left:16px;
    margin-right:16px;

    }

    &__title{
      
      
        font-family:'AvenirNext';
        //padding:0.2rem;
        font-weight:600;
        
    }
   @include tablet{
       &__outer-container{
        margin-left:36px;
        margin-right:36px;

       }
       
       
       &__wrapper{
           display:flex;
           flex-wrap:wrap;
           justify-content:space-evenly;
          
         
       }
       &__title{
           font-size:36px;
           padding-top:48px;
           padding-bottom:36px;
           padding-left:36px;
          
           

       }
    
   }
   @include desktop{
       &__outer-container{
           max-width:75rem;
           margin-left:auto;
           margin-right:auto;
       }

       
      
       
      
   }
}