@use '../variables';
@use '../mixins' as *;



.primary-header{
    background-color: variables.$primary-background;
    color: variables.$primary-text;
    font-family: 'AvenirNext';
    &__title{
        font-size:1.5rem;
        text-align:center;
        padding:0.5rem;

    }
    @include tablet{
        
    }


}
