@use '../variables';
@use '../mixins' as *;

.primary-hero{
    // position:relative;
    // width:50rem;
    // height:20rem;
    // width:100vw;
  
    
    
    
     &__background-image{
     
         background: linear-gradient(rgba(50, 50, 50, 0.5), 
         rgba(50, 50, 50, 0.5)),url(../assets/images/hero-bio.jpg);
         background-size:cover;
         background-repeat:no-repeat;
         
         background-position-y:75%;
         
       
         
     }    
        
        
     
    
    &__text-container{
        color:#FFFFFF;

        display:flex;
        flex-direction:row;
        // align-items:center;
        // right:220px;
        // margin:0;
        padding-bottom:60px;
        padding-top:60px;
        padding-left:20px;
        
       

        
        
        
        
        
    }
    
    &__text{
        // position:absolute;
        // z-index:2;
       
        font-family:'AvenirNext';
        font-weight:600;
        color: variables.$primary-text;
        font-size:24px;
        width:200px;
        // padding-right:500px;
        // margin:0;
        
      
      

    }

    @include midMobile{
        &__text-container{
            margin-left:28px;
            margin-right:28px;
            padding-top:100px;
            padding-bottom:100px;
            padding-left:2px;
            
        }
        &__text{
            font-size:40px;
            width:400px;
        }
    }

    @include tablet{
       
        
        &__text-container{
           
            margin-left:36px;
            margin-right:36px;
            padding-top:130px;
            padding-bottom:130px;
    

        }
        &__text{
            font-size:60px;
            width:500px;
            padding-left:10px;
        }

    }
    @include desktop{
        &__text-container{
            max-width:30rem;
            padding-left:50px;
            padding-right:700px;
            margin-left:auto;
            margin-right:auto;
            padding-top:200px;
            padding-bottom:200px;
            
            

           
        }
        &__text{
            width:500px;
        }
        
    }

}