@use '../variables';
@use '../mixins' as *;

.primary-nav{
    background-color: variables.$primary-background;
    color: variables.$primary-text;

    &__outer-container{
        display:flex;
        flex-direction:column;
    }

    &__logo-card{
        padding:1rem 1rem 0;
        text-align:center;
    }

    &__list{
        list-style:none;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:0;
        margin-bottom:0;
    }

    &__list-item-container{
        padding: 0 20%;
   
       &--highlighted{
            text-align:center;
            width:100%;
            border-bottom: 5px solid #ffffff;
       }
    }

    &__list-item{
        color:#E1E1E1;

       &--highlighted{
           font-weight:600;
           padding:0 0 1rem 1rem;
        
       }
    }
    
    @include tablet{
        &__logo-card{
            padding:1.5rem 1rem 0;
        }
        &__outer-container{
            display:flex;
            flex-direction: row;
            margin: 0 2.25rem;
        }

        &__list{
            justify-content:space-between;
        }
        
       &__list-container{
           padding:0.5rem 0.5rem 0rem 1rem;
       }

       &__list-item{
           &--highlighted{
               padding:0 0 1.5rem 0;
           }
       }
    }

    @include desktop{
       &__outer-container{
           display:flex;
           justify-content:flex-start;
           max-width:65rem;
           margin: 0 auto;
       }
    } 
}