@use '../variables';
@use '../mixins' as *;

.primary-nav{
    background-color: variables.$primary-background;
    color: variables.$primary-text;
    font-family: 'AvenirNext';
    &__title{
    font-size:1.5rem;
    text-align:center;
    padding:0.5rem;
    }
   

    &__list{
        list-style:none;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        padding:0;
        

   
    }
    &__list-item{
       
        padding-left:1.5rem;
        padding-right:1.5rem;

       &--highlighted{
          
           
           padding-bottom:0.5rem;
           border-bottom: 5px solid #ffffff;
         
       }
   
    }
    @include tablet{
        display:flex;
        flex-direction: row;
        padding-left:36px;
        padding-right:36px;
        padding-top:14px;

       &__list-container{
           padding-left:2rem;
           
       }
       
    }
    
}