@use '../variables';
@use '../mixins' as *;

.primary-nav{
    background-color: variables.$primary-background;
    color: variables.$primary-text;
    font-family: 'AvenirNext-Regular';
    &__list{
        list-style:none;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        padding:0;
        

   
    }
    &__list-item{
       
        padding-left:1.5rem;
        padding-right:1.5rem;

       &--highlighted{
          
           padding-left:1.7rem;
           padding-right:1.7rem;
           padding-bottom:0.5rem;
           border-bottom: 5px solid #ffffff;
         
       }
   
    }
    
}