@use '../variables';
@use '../mixins' as *;


.primary-footer{
    background-color:variables.$primary-background;
    color:variables.$primary-text;
    font-family:'AvenirNext';
    padding:16px;
    &__title{
        font-size:1.5rem;
      
    }
    &__social-media-wrapper{
        display:flex;
        flex-direction:row;
        padding-bottom:0.7rem;
        
    }
    &__social-media-icon{
        padding-right:1.5rem;

    }
    
    &__text-card{
    
       display:flex;
       flex-direction:column;
       padding-bottom:1rem;
       padding-top:1rem;
   
    
        
        &--bolded{
            font-weight:700;
            padding-bottom:1rem;
            padding-top:1rem;
            
            
        }
    
    }
    &__text{
        margin:0%;
    }
    &__logo{
        font-size:1.5rem;
    }

    @include tablet{
        position:relative;
        padding:36px;
        &__title-and-social-media-wrapper{
            display:flex;
            flex-direction:row;
           
        }
        &__social-media-wrapper{
            padding:2rem;
        }
     
       
        
        &__title{
            font-size:36px;
        }
        &__logo{
            position:absolute;
            top:30px;
            right:20px;
            padding:20px;
            font-size:20px;
        }
        &__text-wrapper{
            display:flex;
            flex-direction:row;
            justify-content:space-between;
        }
        &__text-card-column{
            display:flex;
            flex-direction:column;
            justify-content:space-evenly;
            
        }
    }
    @include desktop{
        padding:80px;
        &__logo{
           padding:60px;

        }
    }
        
}