@use '../variables';
@use '../mixins' as *;

.primary-hero{
    // position:relative;
    
    
    
    
     &__background-image{
         background-image: url(../assets/images/hero-bio.jpg);
         background-size:cover;
         background-repeat:no-repeat;

        
     
         
        padding:100px;  
         
     }

     &__color-overlay{
         background-color:#323232;
         opacity:0.8;
        //  position:relative;
         
     }
    
    &__text-container{
        color:#FFFFFF;

        display:flex;
        flex-direction:column;
        align-items:flex-start;
        right:220px;
       
        
       

        
        
        
        
        
    }
    
    &__text{
        // position:absolute;
        // z-index:2;
       
        font-family:'AvenirNext';
        font-weight:600;
        color: variables.$primary-text;
        font-size:24px;
      
      

    }

    @include tablet{
       
        
        &__text-container{
           
            margin-left:36px;
            margin-right:36px;
    

        }
        &__text{
            font-size:60px;
        }

    }
    @include desktop{
        &__text-container{
            
            // padding-left:50px;
            padding-right:700px;
            margin-left:auto;
            margin-right:auto;
            max-width:30rem;
            

           
        }
        
    }

}