@use '../variables';
@use '../mixins' as *;

.shows-section{
    &__title{
        font-weight:600;
        padding:1rem 0 0;
        margin:1rem;
    }
    
    &__inner-container{
        display:flex;
        flex-direction:column;
        margin:1rem 1rem 0.5rem;

       
        &:hover{
            background-color:variables.$hover-state-row;
            margin: 0;
            padding: 1rem 1rem 0.5rem;
        }
        
        &--active{
            background-color:variables.$active-state-row;
            margin:0;
            padding:1rem 1rem 0.5rem;
            pointer-events: none;
        }  
    }

    &__column-container{
        display:flex;
        flex-direction:column;
        align-items:space-between;
        flex:1 1 0;
    }

    &__mobile-header{
        padding-top: 1rem;
        color: variables.$secondary-text;
        font-weight:550;
        font-size:0.8rem;
    }

    &__table-header-container{
        display:none;
    }

    &__text{
        &--date{
            font-weight:550;
            padding:0.5rem 0;
        }

        &--venue{
            padding:0.5rem 0;
        }

        &--location{
            padding:0.5rem 0 1rem;
        }
    }
   

    &__divider{
        width:100%;
        border-bottom: 0.0625rem solid variables.$divider;
        margin:0;
    }

    &__button{
        background-color: variables.$primary-background;
        color:variables.$primary-text;
        height:2.5rem;
        width:100%;
        border-radius:0.25rem;
        font-size:0.9rem;
    }
  
    @include tablet{
        &__title{
            padding:2rem 2rem;
            max-width:55rem;
            font-size:2.25rem;
        }

        &__text{
            &--date{
                font-size:0.9rem;
            }

            &--venue{
                font-size:0.9rem;
                padding-left:1.2rem;
            }

            &--location{
                font-size:0.9rem;
                padding:0.5rem 0;
            }  
        }
       
        &__inner-container{
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            align-items:center;
            flex:1;
            padding-bottom:0.5rem;

            &--active{
                padding:1rem;
            }
        }

        &__mobile-header{
            display:none;
        }

        &__table-header{
            &--date{
                padding-top: 1rem;
                color: variables.$secondary-text;
                font-weight:550;
                font-size:0.8rem;
                margin-left:-4.8rem;
            }

            &--venue{
                padding-top: 1rem;
                color: variables.$secondary-text;
                font-weight:550;
                font-size:0.8rem;
                margin-left:-2.4rem;
            }

            &--location{
                padding-top: 1rem;
                color: variables.$secondary-text;
                font-weight:550;
                font-size:0.8rem;
                margin-left:-4.3rem;  
            } 
        }


        &__table-header-container{
            &:first-child{
                display:flex;
                flex-direction:row;
                justify-content:space-around;
                align-items:flex-start;
            }
        }

        &__button{
            border-radius:0.375rem;
            font-size:0.9rem;
            width:90%;
        }
    }

    @include desktop{
        &__title{
            padding: 4rem 2rem 2rem;
            max-width:65rem;
            margin: 0 auto;
        }

        &__table-header{
            &--date{
                margin-left:-6.6rem;
                padding-right:8rem;
            }

            &--venue{
                padding-right:3rem;
                margin-left:-4rem;
            }

            &--location{
                padding-right:10rem;
            }
        }

        &__text{            
            &--venue{
                padding: 0.5rem 0 0.5rem 2.2rem;
            }
        }

        &__table-header-container{
            &:first-child{
                margin-left:3rem;
                margin-top:-5rem;
                padding-bottom:1.7rem;
            }
        }

        &__button{
            width:70%;
        }

        &__divider{
            width:95%;
        }
    }
    
}
 #table{
     padding-bottom:1rem;
     margin: 0 auto;
     @include tablet{
         max-width:44rem;
     }

    @include desktop{
        padding:0 3rem 0 22rem;
        max-width:57rem;
    }
}

 #shows-list{
     list-style:none;
     padding:0;
     
 }   

 



 

 

