@use '../variables';
@use '../mixins' as *;

.shows-section{
   

    &__title{
        font-weight:600;
        padding:1rem 0;
        margin:1rem;
    }
    
    &__inner-container{
        display:flex;
        flex-direction:column;
        margin:1rem;
        
        &:hover{
            background-color:variables.$hover-state-row;
            margin: 0;
            padding: 1rem;
           
        }
        
        &--active{
            background-color:variables.$active-state-row;
        
        }

       
        

       
        
        
    }

    &__column-container{
        display:flex;
        flex-direction:column;
        align-items:space-between;
        flex:1 1 0;
    }

   

    &__li{
        list-style:none;
        padding-top: 1rem;
        color: variables.$secondary-text;
        font-weight:550;
        font-size:0.8rem;
    
    }

   
   
    

    &__date{
        font-weight:550;
        padding:0.5rem 0;

       
    }

    &__venue{  
        padding:0.5rem 0;
    }

    &__location{
        padding: 0.5rem 0;
    }

    &__divider{
        width:100%;
        border-bottom: 1px solid variables.$divider;
        padding:0.5rem 0;
        margin:0;
    
    }

    &__empty{
        display:none;
    }
    &__button{
        background-color: variables.$primary-background;
        color:variables.$primary-text;
        height:40px;
        width:100%;
        border-radius:4px;
        font-size:0.9rem;
    }
  
    @include tablet{
        &__title{
            margin-left:3rem;
        }
        &__inner-container{
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            align-items:center;

            padding:0;

            &:first-child li{
                display:flex;
            }
            
            
        
        }

        &__li{
           
            display:none;
        }

       
        

        &__button{
    
            border-radius:6px;

        }

        &__divider{
            padding:0;
        }

        // &__location{
        //     padding: 0;
            
        // }
    }

    @include desktop{
        &__title{
            padding: 1.5rem 6rem;
        }
    }
    

}
 #table{
     padding-bottom:1rem;
     margin: 0 auto;
     @include tablet{
         max-width:43rem;

     }


     
    
    @include desktop{
       
        padding:0 3rem 0 17rem;
    }


}

 #shows-list{
     list-style:none;
     padding:0;
     
 }   

 



 

 

